{% extends 'base.html.twig' %}

{% block title %}Détail de la formation{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>Détail de la formation</h1>
    <article class="info-formation">

        <h2>{{ formation }}</h2>

        <p>{{ formation.description }}</p>

    </article>
    <p>Vous souhaitez modifier le titre ou la description ? </p>
    <a href="{{ path('edit_formation', {'id':formation.id}) }}">Editer</a>
</div>


<div class="containerSession">
    <h2>Liste des sessions</h2>

    <div class="listSession">
    {% for session in sessions %}
        <a href="">{{ session }}</a><br>     
    {% endfor %}
    </div>

    <p>Ajouter une session</p>
    <a href="{{ path('add_session') }}">Ajouter</a>


</div>
{% endblock %}