{% extends 'base.html.twig' %}

{% block title %}Modification de Modules{% endblock %}

{% block body %}
    {# {% if edit %} #}
        {# <h1>Editer un module</h1>
    {% else %} #}
        <h1>Ajouter un module</h1>
    {# {% endif %} #}

    {{ form_start(formAddModule) }}
    {# {{ form_widget(formAddEmploye) }} #}

    <div class="my-custom-class-for-errors">
        {{ form_errors(formAddModule) }}
    </div>

    <div class="row">
        <div class="col-sm">
            {{ form_row(formAddModule.moduleName) }}
        </div>
        <div class="col-sm">
            {{ form_row(formAddModule.description) }}
        </div>
        <div class="col-sm">
            {{ form_row(formAddModule.category) }}
        </div>
    </div>
            {{ form_row(formAddModule.valider) }}

    {{ form_end(formAddModule) }}

{% endblock %}